<div class="mat-elevation-z8">
  <button (click)="searchOrders()" color="accent" mat-raised-button>Search</button>
  <table [dataSource]="orders" aria-label="Elements" class="full-width-table" mat-table matSort>
    <ng-container matColumnDef="user">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>User</th>
      <td *matCellDef="let order" mat-cell>Name: {{order.user.name}} Age: {{order.user.age}}</td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Created date</th>
      <td *matCellDef="let order" mat-cell>{{order.createdDate | date: dateFormat}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <div *ngIf="orders.length === 0" class="no-records">No records</div>
</div>
